<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">

    <listeners>
        <listener class-name="listeners.ExtentTestNGListener"/>
    </listeners>

    <test name="Signup Tests">
        <classes>
            <class name="tests.SignupPositiveTest"/>
            <class name="tests.SignupValidationTest"/>
            <class name="tests.SendReferralPositiveTest"/>
            <class name="tests.SendThankYouNotePositiveTest"/>
        </classes>
    </test>

</suite>
